@media only screen and (max-width: 1240px) {
    /* Global */
    section {
        padding: 30px 0;
    }

    /* Flex */
    .flex-container .column {
        flex: 100%;
        max-width: 100%;
    }

    /* Hero image */
    #hero .content {
        padding: 0 10px;
    }

    /* About */
    #about {
        padding: 0;
    }
    #about .row,
    #about .row-reverse {
        padding: 20px 10px;
    }
    #about.flex-container .column {
        padding: 10px 30px;
    }
    #about h2 {
        font-size: max(3vw, 28px);
    }
    #about p {
        font-size: max(1.75vw, 16px);
    }
    #about img {
        width: 60vw;
    }

    /* Navbar */
    #logo {
        font-size: max(2.5vw, 24px);
    }
    #navbar {
        flex-direction: column;
        padding: 5px 3vw;
        height: 90px;
    }
    #navbar ul {
        padding-bottom: 5px;
    }
    #navbar ul li a {
        padding: 10px 1vw;
        font-size: min(3vw, 16px);
    }

    /* Testimonials */
    #testimonials .flex-container .row {
        flex-direction: row;
    }
    #testimonials .flex-container .column {
        padding-bottom: 30px;
        align-items: center;
    }
    #testimonials div img {
        width: 40%;
        min-width: 100px;
    }
    #testimonials h2 {
        text-decoration: underline dotted;
        text-underline-offset: 5px;
        border-bottom: none;
        font-size: 24px;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }
    #testimonials p {
        font-size: 16px;
    }

    /* Contact */
    #contact .row {
        flex-direction: column-reverse;
        padding: 0 10px;
    }

    /* Footer */
    #footer .flex-container .row {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1921px) {
    /* Global */
    .flex-container h2 {
        font-size: max(32px, 2vw);
    }
    .flex-container p {
        font-size: max(24px, 1vw);
    }
    .flex-container .row,
    .flex-container .row-reverse {
        padding: 0 100px;
    }

    /* Hero Image */
    #hero .content h2 {
        font-size: max(40px, 2vw);
    }
    #hero .content p {
        font-size: max(20px, 1vw);
    }
    #hero .content .btn {
        font-size: max(20px, 0.5vw);
    }
    /* Testimonials */
    #testimonials .column p {
        font-size: max(24px, 0.5vw);
    }

    /* Navbar */
    #navbar ul li a {
        font-size: 20px;
    }
}
