/* Global */
section {
    padding: 30px 0;
}

/* Navbar */
#logo {
    font-size: max(2.5vw, 24px);
}
#navbar {
    padding: 5px 2vw;
    height: 80px;
}
#navbar .container {
    flex-direction: column;
}
#navbar ul {
    padding-bottom: 5px;
}
#navbar ul li a {
    padding: 10px 1vw;
    font-size: min(3vw, 16px);
}

/* Hero Image */
#hero .content {
    padding: 0 10px;
}
#hero .content h2 {
    font-size: 30px;
    text-shadow: 3px 3px 10px #000;
}
#hero .content p {
    font-size: 16px;
}

/* About */
#about {
    padding: 0;
}
#about .row,
#about .row-reverse {
    padding: 20px 10px;
}
#about.flex-container .column {
    padding: 10px 20px !important;
}
#about h2 {
    font-size: max(3vw, 28px);
}
#about p {
    font-size: max(1.75vw, 16px);
}
#about img {
    width: 60vw;
}

/* Testimonials */
#testimonials .flex-container .row {
    flex-direction: row;
    padding: 20px 4% 0;
}
#testimonials .flex-container .column {
    padding-bottom: 30px;
    align-items: center;
}
#testimonials div img {
    min-width: 100px;
    width: 20vh;
    height: 20vh;
}
#testimonials h2 {
    text-decoration: underline dotted;
    text-underline-offset: 5px;
    border-bottom: none;
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#testimonials p {
    font-size: 16px;
}

/* Location */
#location h2 {
    padding-top: 10px;
}
#location.flex-container .row,
#location.flex-container .row-reverse {
    padding: 0;
}

/* Contact */
#contact .row {
    flex-direction: column-reverse;
    padding: 0 20px;
}
#contact input,
#contact textarea {
    width: 100%;
}

/* Footer */
#footer .flex-container .row {
    flex-direction: row;
}

/* Utilities */
/* Flex */
.flex-container .column {
    flex: 100%;
    max-width: 100%;
}
