/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background-color: #ab112b;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
}
.btn:hover {
    color: #f05454;
}

/* Text */
.text-1 {
    color: #ab112b;
}

/* Div backgrounds */
.bg-1 {
    background-color: #690618;
    color: #ddd;
}
.bg-2 {
    background-color: #30475e;
    color: #ddd;
}
.bg-3 {
    background-color: #222831;
    color: #ddd;
}
.bg-4 {
    background-color: #aaaaaa;
    color: #232323;
}
.bg-1 img,
.bg-2 img,
.bg-3 img {
    border: 2px solid #ddd;
}
.bg-4 img {
    border: 2px solid #232323;
}

/* Div utilities */
.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Flex */
.flex-container {
    display: flex;
    flex-direction: column;
}
.flex-container .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.flex-container .row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
}
.flex-container .column {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    justify-content: center;
}
.flex-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.flex-container h2 {
    font-size: 40px;
    padding-bottom: 20px;
}
.flex-container p {
    font-size: 20px;
}
